body {
    margin: 0;
    padding: 0;
    background-color:darkgreen;
    color: white;
    font-family: "Lato", sans-serif;
}

.center {
    text-align: center;
}

.border {
    border: 6x solid green;
}

.container {
    display: flex;
}

.sidebar {
    width: 20vh;
    height: 100vh;
    background-color: #00310065;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20vh;
    text-align: justify;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0%;
    transition: background-color 0.3s;
}

.sidebar h2 {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0%;
}

/* Change background color on hover */
.sidebar a:hover {
    background-color: #2980b9;
}
